<!DOCTYPE html>
<html>

<head>
  <title>Users</title>
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Users</a>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a class='poke-link' href="/pokedex">Pokedex</a>
            <a class='poke-link' href="/pokeTeam">My Team</a>
            <a class='poke-link' href="/users">User List</a>
            <a class='poke-link' href="/users/trainer">My Trainer Card</a>
            <a href="/auth/logout">Log Out</a>
            <% } else { %>
            <a href="/auth/google">Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>