<%- include('partials/header') %>

<div class='pokeballLogo'>
  <h2>PokeTracker</h2>
  <img src="/images/pokeball.png" alt="icon" width="250" onclick="pokeballSound()">
  <br>
  <p>click the pokeball!</p>
</div>

<%- include('partials/footer') %>