<%- include('../partials/header') %>

<h3><%= title %></h3>
<img src="/images/trainercard1.png" alt="pokenav" width='200px' height='160px'>
<img src="/images/trainercard2.png" alt="pokenav" width='200px' height='160px'>


<%- include('../partials/footer') %>